<h1>Log In</h1>
<h2>With username and password:</h2>
<%= render_flash_messages dismissible: true %>
<%= form_for(:session, url: { controller: 'sessions', action: 'create'}) do |f| %>
	<%= f.label :user_name %>
	<%= f.text_field :user_name %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.submit  "Log In"%>
<% end %>