<h1>Create a new account</h1>
<div>
	<% if @musician.errors %>
		<% @musician.errors.full_messages.each do |error| %>
			<% flash[:alert] = error %>
			<%= render_flash_messages dismissible: true %>
		<% end %>
	<% end %>
<%= form_for(@musician, url: { controller: 'musicians', action: 'create'}) do |f| %>
	<%= f.label :user_name %>
	<%= f.text_field :user_name %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.text_field :password %>
	<%= f.label :password_confirmation %>
	<%= f.text_field :password_confirmation %>
	<%= f.fields_for :instruments do |instrument_fields| %>
		<%= instrument_fields.label :instrument_type %>
		<%= instrument_fields.text_field :instrument_type %>
		<%= instrument_fields.label :instrument_category %>
		<%= instrument_fields.select :instrument_category, Instrument.all_families%>
		<%= instrument_fields.label :tuning %>
		<%= instrument_fields.select :tuning, Instrument.all_tunings, selected: 'C(+0)' %>
	<% end %>
	<%= f.submit  %>
<% end %>
</div>