<h1>Create a new account</h1>
<div>
<%= form_for(@musician) do |f| %>
	<%= f.label :user_name %>
	<%= f.text_field :user_name %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.text_field :password %>
	<%= f.label :password_confirmation %>
	<%= f.text_field :password_confirmation %>
	<%= f.fields_for @musician.instruments.build() do |instrument_fields| %>
		<%= instrument_fields.label :instrument_type %>
		<%= instrument_fields.text_field :instrument_type %>
		<%= instrument_fields.label :instrument_category %>
		<%= instrument_fields.text_field :instrument_category %>
		<%= instrument_fields.label :tuning %>
		<%= instrument_fields.text_field :tuning %>
	<% end %>
	
	<%= f.submit %>
<% end %>
</div>