<%= form_for(@mastery_track) do |f| %>
	<div class='form-group'>
		<%= f.label :tempo_level, "What tempo are you currently playing?", autofocus: true %>
		<%= f.text_field :tempo_level %> <br>
		</div>
		<div class='form-group'>
			<%= f.label :tempo_goal, "The suggested tempo for this piece is #{@mastery_track.tempo_goal}. Do you want to change your goal?" %>
			<%= f.text_field :tempo_goal %> <br>
			</div>
	<%= f.submit "Update your progress", class: 'link'%>
<% end %>