<%= form_for(@piece, url: { controller: 'pieces', action: 'create'}) do |f| %>
	<%= f.hidden_field :instrument_id, value: @instrument.id %>
	<div class='form-group'>
		<%= f.label :title %>
		<%= f.text_field :title, required:'true', autofocus: true %></div>
	<div class='form-group'>
		<%= f.label :composer %>
		<%= f.text_field :composer, required:'true' %></div>
	<div class='form-group'>
		<%= f.label :key_signature %>
		<%= f.text_field :key_signature %></div>
	<div class='form-group'>
		<%= f.label :time_signature %>
		<%= f.text_field :time_signature %></div>
	<div class='form-group'>
		<%= f.label :tempo %>
		<%= f.select :tempo, Piece.tempos %></div>
	<div class='form-group'>
		<%= f.label :difficulty %>
		<%= f.select :difficulty, (1..10).map{ |i| [i]} %></div>
	<%= f.fields_for :transpositions do |trans_fields| %>
		<div class='form-group'>
				<%= trans_fields.label :key %>
				<%= trans_fields.select :key, Instrument.all_tunings, selected: @instrument.tuning || "C(+0)" %></div>
		<div class='form-group'>
				<%= trans_fields.label :instrument %>
				<%= trans_fields.select :instrument, Instrument.all_instruments, selected: @instrument.instrument_type %></div>
	<% end %>
	
	<%= f.submit "Add this sheet music", class: 'link' %>
<% end %>