<h1>Create a new piece</h1>
<%= form_for(@piece) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :composer %>
	<%= f.text_field :composer %>
	<%= f.label :key_signature %>
	<%= f.text_field :key_signature %>
	<%= f.label :time_signature %>
	<%= f.text_field :time_signature %>
	<%= f.label :tempo %>
	<%= f.text_field :tempo %>
	<%= f.label :difficulty %>
	<%= f.select :difficulty, (1..10).map{ |i| [i]} %>
	<%= f.fields_for :transposition do |trans_fields| %>
		<%= trans_fields.label :key %>
		<%= trans_fields.select :key, Instrument.all_tunings, selected: "C(+0)" %>
		<%= trans_fields.label :instrument %>
		<%= trans_fields.text_field :instrument %>
	<% end %>
	
	<%= f.submit "Create"%>
<% end %>