<h1><%= @piece.title %></h1>
<h2>By <%= @piece.composer %></h2>
<p>Key Signature: <%= @piece.key_signature || 'None'  %></p>
<p>Time Signature: <%= @piece.time_signature || 'None' %></p>
<p>Difficulty: <%= @piece.difficulty %></p>
<p>Tempo: <%= @piece.tempo || 'None' %></p>

<p>
	<%= create_mastery_track_link %>		
</p>
<p><%= link_to 'Back', instrument_pieces_path(@instrument), class: 'cancel' %></p>
