<%= form_for(@instrument) do |f| %>
	<%= f.hidden_field :musician_id, value: @musician.id %>
	<div class='form-group'>
		<%= f.label :instrument_type %>
		<%= f.select :instrument_type, Instrument.all_instruments, autofocus: true %>
	</div>
	<div class='form-group'>
		<%= f.label :instrument_category %>
		<%= f.select :instrument_category, Instrument.all_families %>
	</div>
	<div class='form-group'>
		<%= f.label :tuning %>
		<%= f.select :tuning, Instrument.all_tunings, selected: default_tuning %>
	</div>
	<%= f.submit  %>
<% end %>