<% if pieces.present? %>
	<h2>Your sheet music for this instrument</h2>
	<% @mastery_tracks.each do |mt| %>
		<p>
			<%= link_to "#{mt.piece.title} by #{mt.piece.composer}", instrument_piece_path(@instrument, mt.piece), class: 'link-inline' %>
			 -- <%= "Your mastery level is #{mt.level_of_mastery}%." %>
			<%= link_to "Click here to update your progress", edit_mastery_track_path(mt), class: 'link-inline' %>
			  -- 
			<%= link_to 'Remove this piece', {controller: 'mastery_tracks', action: 'destroy', id: mt.id }, method: 'delete', class: 'link-inline' %>
		</p>
	<% end %>
	<p>
		<%= link_to 'Click here to add some more.', instrument_pieces_path(@instrument), class: 'link' %>
	</p>
<% else %>
	<h2>
		You don't have any sheet music for this instrument. 
		<%= link_to 'Click here', instrument_pieces_path(@instrument), class: 'link-inline' %> to add some.
	</h2>
<% end %>