<h1><%= @instrument.instrument_type %></h1>
<h2>About this instrument</h2>
<p>
	<%= "It is a member of the #{@instrument.instrument_category} family and is in the key of #{@instrument.tuning}" %>
</p>
<p>
	<%= link_to "Edit this instrument's info", edit_instrument_path(@instrument), class: 'link' %>
</p>

<%= render 'pieces_h2', pieces: @pieces %>

<p>
	<%= link_to "Remove this instrument", { controller: 'instruments', action: 'destroy' }, method: 'delete', data: {confirm: "Are you sure?"}, class: 'link' %>
</p>
<p><%= link_to "Back", musician_path(@musician), class: 'cancel' %></p>