<!DOCTYPE html>
<html>
  <head>
    <title>MusicMastery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
      <% if logged_in? %>
        <%= link_to "LOG OUT", logout_path  %>
        <%= link_to "Musician Page", musician_path(current_musician) %>
      <% end %>
    </nav>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg.html_safe, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
