<!DOCTYPE html>
<html>
  <head>
    <title>MusicMastery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
      <div class="logo"></div>
      <%= which_nav_bar %>
    </nav>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div id='flash-container' class=<%= name %>>
        <div id='close' class=<%= name %> >X</div>
        <%= content_tag :div, msg.html_safe, class: "flash-message #{name}" %>
        <div id="empty" class=<%= name %> ></div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
